@model IEnumerable<LoginSystem.ViewModel.CinemaDto>

<div class="container mt-5">
	<p class="d-flex justify-content-end">
		<a asp-action="Create" asp-controller="Cinema" class="btn btn-success rounded-0" id="create-role"><i class='fa fa-plus-circle'></i>&nbsp;Create Cinema</a>
	</p>
	<h4>Cinema List</h4>
	<br />
	<table class="table table-striped table-bordered" id="tableInfo">
		<thead class="thead-white">
			<tr>
				<th>Id</th>
				<td>Name</td>
				<th>Location</th>
				<th>City</th>
				<td>Action</td>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.Id</td>
					<td>@item.Name</td>
					<td>@item.Location</td>
					<td>@item.City</td>
					<td>
						<a class="btn btn-sm btn-info" asp-action=""><i class='fa fa-info-circle'></i></a>
						<a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class='fa fa-edit'></i></a>
						<a class="btn btn-sm btn-danger deleteId" id="@item.Id"><i class='fa fa-trash'></i></a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

@section scripts {
	<script>
		$('#tableInfo').dataTable({
			lengthMenu: [10, 15, 20],
		});

		$(".deleteId").click(function () {
			var selectedRow = $(this);
			var Id = selectedRow.attr('id');
			$.ajax({
				url: '/Cinema/Delete',
				method: 'Delete',
				data: { Id },
				success: function (result) {
					if (result.success) {
						selectedRow.closest('tr').remove();
					} else {
						alert('Failed to delete');
					}
				}
			})
		})

	</script>
}
